<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testwebapp</title>
    <link rel="stylesheet" href="~/css/HeaderControl.css" />
    <link rel="stylesheet" href="~/css/SreachControl.css" />
    <link rel="stylesheet" href="~/css/HeaderAccountControl.css" />

    <script src="~/js/ComponentBase/Valkyra.js" asp-append-version="true"></script>
    <script src="~/js/Dtos/CustomerWebAccount.js" asp-append-version="true"></script>
    <script src="~/js/Dtos/WebLogin.js" asp-append-version="true"></script>
    <script src="~/js/ComponentBase/TComponent.js" asp-append-version="true"></script>
    <script src="~/js/ComponentBase/TMessageObject.js" asp-append-version="true"></script>
    <script src="~/js/ProductViewComponent.js" asp-append-version="true"></script>
    <script src="~/js/RootComponent.js" asp-append-version="true"></script>
    <script src="~/js/DataProviderComponent.js" asp-append-version="true"></script>
    <script src="~/js/ContentManagerComponent.js" asp-append-version="true"></script>
    <script src="~/js/SessionComponent.js" asp-append-version="true"></script>
    <script src="~/js/Helpers/RestHelper.js" asp-append-version="true"></script>
    <script src="~/js/HeaderComponent.js" asp-append-version="true"></script>
    <script src="~/js/Controls/ControlBase.js" asp-append-version="true"></script>
    <script src="~/js/Controls/ProductView.js" asp-append-version="true"></script>
    <script src="~/js/Controls/SearchControl.js" asp-append-version="true"></script>
    <script src="~/js/Controls/ImageButton.js" asp-append-version="true"></script>
    <script src="~/js/Controls/HeaderControl.js" asp-append-version="true"></script>
    <script src="~/js/Controls/HeaderAccountControl.js" asp-append-version="true"></script>
    <script src="~/js/Controls/RegisterControl.js" asp-append-version="true"></script>
    <script src="~/js/Controls/LabledInput.js" asp-append-version="true"></script>
    <script src="~/js/Controls/LoginControl.js" asp-append-version="true"></script>
    <script src="~/js/Controls/Button.js" asp-append-version="true"></script>
    <script src="~/js/Controls/ImageControl.js" asp-append-version="true"></script>
    <script src="~/js/Controls/ControlSlider.js" asp-append-version="true"></script>
    <script src="~/js/CustomerViewComponent.js" asp-append-version="true"></script>
    <script src="~/js/CustomerDataProviderComponent.js" asp-append-version="true"></script>
    <script src="~/js/Controls/CustomerViewControl.js" asp-append-version="true"></script>
    <script src="~/js/Controls/LabledTextBox.js" asp-append-version="true"></script>
    <script src="~/js/Views/CustomerDataReadView.js" asp-append-version="true"></script>
    <script src="~/js/Views/CustomerDataWriteView.js" asp-append-version="true"></script>
    <script src="~/js/Controls/ProductItem.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</head>
<body>
    <div id="LayoutRoot">
    </div>
    @RenderBody()
</body>
</html>
